@charset "utf-8";
body {
  margin: 0;
  overflow: hidden;
}

.screen {
  position: relative;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 166vw;
}

.debugText {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: small;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.status {
  position: absolute;
  height: 100%;
  background-color: beige;
  padding: 1%;
  font-size: x-small;
}

.message {
  position: absolute;
  height: 100%;
  background-color: black;
  color: white;
  padding: 1%;
  font-size: x-small;
}

.gameButton {
  position: absolute;
  font-size: x-large;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  width: 13%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.pushButton {
  position: absolute;
  font-size: x-large;
  height: 30%;
}

.selectBox {
  position: absolute;
  font-size: large;
  height: 15%;
}

.startButton {
  position: absolute;
  font-size: x-large;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
}

/* PC用
 ブラウザを小さくして開発しやすくするため、一般的なブレークポイントよりはやや小さめ */

@media screen and (min-width: 500px) {
  body {
    background-color: gray;
  }
  .screen {
    position: relative;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 60vh;
    height: 100vh;
  }
  .status {
    position: absolute;
    height: 100%;
    background-color: beige;
    padding: 1%;
    font-size: medium;
  }
  .message {
    position: absolute;
    height: 100%;
    background-color: black;
    color: white;
    padding: 1%;
    font-size: medium;
  }
}